.alphabet {
  flex-wrap: wrap;
  width: 55%;
  margin-top: 30px;

  @media (max-width: 1199px) {
    width: 70%;
  }

  @media (max-width: 991px) {
    width: 90%;
  }

  @media (max-width: 850px) {
    width: 80%;
  }

  @media (max-width: 767px) {
    width: 50%;
  }

  @media (max-width: 650px) {
    width: 70%;
  }

  li {
    position: relative;
    width: 38px;
    background: #fff;
    color: #0f9ed8;
    font-size: 2em;
    margin: 5px;
    padding: 0 5px;
    cursor: pointer;

    @media (max-width: 850px) {
      width: 32px;
      font-size: 1.7em;
      margin: 5px;
      padding: 0 3px;
    }

    @media (max-width: 767px) {
      width: 30px;
      font-size: 1.4em;
      margin: 3px;
      padding: 0 3px;
    }

    @media (max-width: 550px) {
      width: 25px;
      font-size: 1.2em;
      margin: 3px;
      padding: 0 3px;
    }

    @media (max-width: 400px) {
      width: 22px;
      font-size: 1.1em;
      padding: 0;
    }
  }
}
